<% if user_signed_in? %>
  <% if current_user.approved_links.include?(link) %>
    <%= link_to approval_display_text, unapprove_link_path(link),
                method: :delete, class: "btn btn-success", remote: true %>
  <% else %>
    <%= link_to approval_display_text, approve_link_path(link),
                method: :post, class: "btn btn-default", remote: true %>
  <% end %>
<% end %>

<%= link_to show_approvers_link_path(link), remote: true,
      class: "button-approve", "data-toggle": "modal",
      "data-target": "#approvers-modal" do %>
  <span class="badge">
    <%= pluralize(link.approvers.size, "Approver") %>
  </span>
<% end %>

<div id="approvers-modal" class="modal fade" tabindex="-1" role="dialog">
</div>