<%= @page_title = "About" %>

<div class="container pages-main">
  <h1>About</h1>
  <p class="lead">This app is a personal project of Michael Palad.</p>
  <p><a href="https://github.com/michael-palad" target="_blank">
      Michael's Github</a>
  </p>
  <p><a href="https://github.com/michael-palad/linkashare" target="_blank">
      This app's Github page</a>
  </p>
</div>