<% @page_title = "discover the web" %>

<div class="container links-main">
  <% @links.each do |link| %>
    <h2><%= link_to link.title, link %></h2>
    
    <p>
    <%= image_tag(link.website_image.url(:thumb)) %>   
    </p>
    
    <p>
    Url: <%= link.url %>
    </p>
    
    <p>
    Description:<br>
    <%= link.description %>
    </p>
    
    <hr>
  <% end %>
</div>