# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 446edffc0be5d6726f3de54ba933bbce245d11df3c60061b6269c15651ccb5a1a778a84d09e3cd54defeee00a9125d71424f136d182c9c534194258e303e3d53

test:
  secret_key_base: e2a57e271b2cbe073ab0c9fdca465c6c9d3db497ce8c221766899b4ecd8f83471a0ab16dde4c3a7675784a231afffa6d811ebe191376512137c5410fbd321532

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
