<div class="container user-main">
  <% if @user %>
    <h2><%= @user.username %></h2>
    <p>
      <%= image_tag @user.profile_image.url(:medium),
            class: "profile-image-medium" %>
    </p>
  <% else %>
    <h2>User not found</h2>
  <% end %>
</div>
