// Page
//----------------------------------------------------------
.links-main {
  margin-top: 50px;
}

.link-header {
  margin-bottom: 20px;
}

.link-item {
  margin-bottom: 50px;
}

.link-title {
  margin-top: 10px;
}

.link-description {
  margin: 0 20px 0;
}

.link-featured {
  margin-top: 20px;
}

.link-options {
  margin: 0 20px 0;
}

.link-options-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.visit-button {
  display: inline-block;
  position: relative;
  top: -7px;
}

.link-user {
  margin: 0 20px 0;
}

.button-left-margin {
  margin-left: 10px;
}

.social-share-button {
  display: inline-block;
  position: relative;
  top: -45px;
}


// Comments
//----------------------------------------------------------
#link-comments {
  margin: 10px 0 30px 0;
}

#comments-list {
  margin: 10px 0 0 20px;
}

#comment-form {
  margin: 25px 0 0 20px;
}

// Pagination
//----------------------------------------------------------
.linka_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .linka_pagination a, .linka_pagination span, .linka_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .linka_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .linka_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .linka_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .linka_pagination a:hover, .linka_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .linka_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .linka_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .linka_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .linka_pagination {
    height: 1%; }
  *:first-child + html .linka_pagination {
    overflow: hidden;
}